<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-auto">
                    <nav class="nav flex-column navbar-light row" style="background-color: #d8dfeb;">
                        <div class="nav-item col border-bottom border-light">
                            <a class="nav-link text-dark border-bottom border-light" href="/">Clinici</a>
                            <a class="nav-link text-dark border-bottom border-light" href="/medici">Medici</a>
                            <a class="nav-link text-dark" href="/pacienti">Pacienti</a>
                        </div>
                    </nav>
                </div>
                <div class="col">
                    <div class="card border-light" style="background-color: #e6ebf2;">
                        <div class="card-body">